* {
    margin: 0px;
    padding: 0px;
}
.sidebar_wrap {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
}
.sidebar_wrap .sidebar {
    width: 300px;
    height: 100%; 
    background-color:#323232;
    zoom: 1;
}
.sidebar_wrap .sidebar .info {
    height: 300px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sidebar_wrap .sidebar .info .name {
    color: white;
    font-size: 30px;
    margin: 20px;
}
.sidebar_wrap .sidebar .info .text {
    color: white;
    font-size: 20px;
    margin: 20px;
}
.sidebar_wrap .sidebar .info a {
    margin: 10px;
}
.sidebar_wrap .sidebar .info .head {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
.titlebar_wrap {
    position: fixed;
    width: 100%;
    min-width: 400px;
    top: 0;
    left: 0;
    z-index: 100000;
}
.titlebar_wrap .titlebar {
    height: 80px;
    width: 100%; 
    background-color:#323232;
    zoom: 1;
    position:relative;
}
.titlebar_wrap .titlebar .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
}
.titlebar_wrap .titlebar .info .name {
    color: white;
    font-size: 20px;
}
.titlebar_wrap .titlebar .info .text {
    color: white;
    font-size: 10px;
    margin-top: 5px;
}
.titlebar_wrap .titlebar .blog {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 150px;
}
.titlebar_wrap .titlebar .blog a {
    margin: 10px;
}
.content {
    margin-left: 300px;
    padding: 20px;
}
.content .list_content .list_item {
    float: left;
    width: 100%;
    border: 1px solid;
    border-color: rgb(209, 209, 209);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f1f0f0;
}
.content .list_content .list_item .list_item_content {
    margin: 20px;
}
.content .list_content .list_item .project_img {
    float: left;
    margin-bottom: 20px;
}
.content .list_content .list_item .project_img img {
    width: 100px;
    height: 100px;
}
.content .list_content .list_item .project_img img:hover {
    transition: transform 0.15s linear;
    transform: scale(1.10); 
}
.content .list_content .list_item .project {
    margin-left: 120px;
}
.project_link {
    color: #000000;
    text-decoration: none;
    font-size: 30px;
}
.project_link:hover {
    color: #c76363;
    text-decoration: underline;
}
.content .list_content .list_item .project dl{
    margin-top: 10px;
}
.content .list_content .list_item .project dt{
    line-height: 25px;
}